
    <main aria-labelledby="about-heading">
        <div class="items-center text-center 2xl:max-w-7xl lg:px-16 md:px-12 mx-auto px-8 w-xl xl:px-36">
            <div class="flex flex-col gap-y-12 items-start justify-between lg:flex-row lg:items-center lg:py-16 pb-6 pt-16">
                <div class="lg:text-center lg:mx-auto">
                    <div class="flex items-center text-negroni-500">
                        <div class="lg:text-center lg:mx-auto">
                            <div class="flex items-center text-white">
                                <div class="lg:text-center lg:mx-auto">
                                    <!-- Content for the "About" page goes here -->
                                    <h1 class="text-orange-500 mt-4 font-Helvetica md:text-6xl text-3xl tracking-tight" id="about-heading">About Us</h1>
                                    <p class="text-lg font-Helvetica">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Nulla id fringilla justo, eget tempor urna. Nullam aliquam sem vel
                                        libero tincidunt, id scelerisque justo eleifend.
                                    </p>
                                    <!-- Additional content can be added here -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

