<main>
    <div class="container mx-auto px-8 lg:px-16 xl:px-36 2xl:max-w-7xl">
      <div class="flex flex-col items-center lg:flex-row justify-between lg:py-16 pb-6 pt-16 gap-y-12">
        <div class="lg:text-justify lg:mx-auto text-negroni-100">
          <h1 class="text-orange-500 lg:text-center mt-4 font-Helvetica text-3xl md:text-6xl tracking-tight" id="contact-heading">Contact Us</h1>
          <p class="text-lg font-Helvetica mt-2">
            To order from our ever-changing stock:
          </p>
          <br>
          <ol class="text-lg font-Helvetica pl-6 list-decimal">
            <li>Reach out via phone or e-mail</li>
            <li>We'll send you pictures of our current raw shapes stock</li>
            <li>Choose the piece that suits you, and we'll take care of the rest</li>
            <li>We'll present you with different options for table legs when it's close to completion</li>
          </ol>
          <p class="text-lg font-Helvetica mt-4">
            E-Mail: contact@example.com
            <br>
            Phone: +353121212
          </p>
        </div>
      </div>
    </div>
  </main>