<main aria-labelledby="header" class="relative overflow-hidden">
  <h2 class="sr-only" id="header">Header</h2>
  <div class="relative mx-auto px-8 max-w-7xl py-12 lg:py-24 lg:px-36 md:px-12">
    <div
      class="grid grid-cols-1 gap-6 py-12 lg:gap-y-32 md:grid-cols-2 lg:grid-cols-2">
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://brickmillfurniture.com/cdn/shop/products/epoxy-coffee-table-resin-coffee-table-wooden-coffee-table-modern-coffee-table-small-coffee-table-large-coffee-table-470338_800x.jpg?v=1644445072"
          alt=""
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                This is the info
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">More info</p>
          </div>
          <p class="text-base text-tomato-500">Price</p>
        </div>
      </figure>
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://i.etsystatic.com/20725267/r/il/c61212/2666939660/il_570xN.2666939660_m8yx.jpg"
          alt=""
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                This is the info
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              More Info
            </p>
          </div>
          <p class="text-base text-tomato-500">Price</p>
        </div>
      </figure>
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://i.etsystatic.com/32625881/r/il/b93d1e/4182620875/il_1080xN.4182620875_1dpj.jpg"
          alt=""
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                This is the info
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              More Info
            </p>
          </div>
          <p class="text-base text-tomato-500">Price</p>
        </div>
      </figure>
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://i.pinimg.com/564x/6c/09/36/6c093685dfa2c2aacc39bc2f32d04b39.jpg"
          alt=""
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                This is the info
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              More Info
            </p>
          </div>
          <p class="text-base text-tomato-500">Price</p>
        </div>
      </figure>
    </div>
  </div>
</main>
