<main aria-labelledby="header" class="relative overflow-hidden">
    <h2 class="sr-only" id="header">Header</h2>
    <div class="relative mx-auto px-8 max-w-7xl p-24 lg:px-36 md:px-12">
        <div class="mx-auto text-center">
          <div class="sm:flex sm:justify-center sm:mb-8">
          </div>
          <h1
            class="text-orange-500 mt-4 font-bold md:text-6xl text-3xl tracking-tight">
            Raw Shape Gallery
          </h1>
    <div class="relative mx-auto px-8 max-w-7xl py-12 lg:py-24 lg:px-36 md:px-12">
      <div
        class="grid grid-cols-1 gap-6 py-12 lg:gap-y-32 md:grid-cols-2 lg:grid-cols-2">
        <figure>
          <img
            class="w-full rounded-3xl shadow-2xl"
            src="https://dvbhq.com/cdn/shop/products/il_fullxfull.3357195290_lsaa_445d92ff-2a80-4acd-af60-d97762cc8302_250x250@2x.jpg?v=1639079148"
            alt=""
            width="1310"
            height="873"
          />
          <div class="mt-4 flex justify-between px-6">
            <div>
              <h3 class="mt-1 text-lg font-medium leading-6 text-white">
                <a href="#">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  Raw chedarwood cookie
                </a>
              </h3>
            </div>
            <p class="text-base text-tomato-500">$3</p>
          </div>
        </figure>
      </div>
    </div>
  </main>
  