@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-main: 75, 69, 65; /* Fallback */
  --color-secondary: 249, 115, 22; /* Fallback */
  --theme-width: 0.5rem;
  --scrollbarColor: theme(colors.caramel.400);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

*::-webkit-scrollbar {
  width: var(--theme-width);
}

*::-webkit-scrollbar-thumb {
  border-radius: 10vw;
  border: calc(var(--theme-width) / 3) solid transparent;
  box-shadow: inset 0 0 0 calc(var(--theme-width) * 2) var(--scrollbarColor);
}

*::selection {
  background: theme(colors.caramel.500);
  color: theme(colors.bark.950);
}
