---
import { Image } from 'astro:assets';
import bgImage from '@/images/background.jpg';
import { twMerge } from 'tailwind-merge';

const { class: className } = Astro.props;
---

<div class:list={twMerge(['pointer-events-none fixed inset-0 overflow-hidden', className])}>
  <Image
    src={bgImage}
    alt="Background image"
    class="h-full w-full object-cover object-center opacity-10"
  />
</div>
