---
import pages from '@/data/pages.json';
import { trimPath } from '@/utils/cleanPath';

const currentPath = trimPath(Astro.url.pathname);
---

<footer class="flex flex-col items-center gap-1 text-center" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <nav class="flex items-center gap-8 p-2">
    {
      pages.map(({ inFooter, name, url, icon }) => {
        if (inFooter) {
          return (
            <a
              href={url}
              class={`flex gap-1 transition-colors duration-300 hover:text-caramel-500 ${
                url === currentPath
                  ? 'font-bold text-caramel-400 underline decoration-caramel-400/50 decoration-dotted decoration-1 underline-offset-4'
                  : 'text-caramel-200'
              }`}
            >
              {icon && <span>{icon}</span>}
              <span>{name}</span>
            </a>
          );
        }
      })
    }
  </nav>
  <div
    class="flex w-full items-center justify-center gap-1 border-t border-bark-500/10 p-2 text-center text-sm text-persimmon"
  >
    <span>&copy; {new Date().getFullYear()} · Designed with love by Raz</span>
  </div>
</footer>
