---
import pages from "@/data/pages.json";
import { siteName } from "@/data/site.json";
---

<div
  class="bg-bark-950/50 fixed z-10 flex w-full flex-col items-center justify-between gap-4 p-4 backdrop-blur-md md:h-16 md:flex-row md:px-8"
>
  <header>
    <a href="/">{siteName}</a>
  </header>
  <nav class="flex items-center gap-8">
    {
      pages.map(({ inHeader, name, url, icon }) => {
        if (inHeader) {
          return (
            <a
              href={url}
              class={`hover:text-caramel-500 relative flex gap-1 font-bold transition-all duration-300 ${
                url === Astro.url.pathname
                  ? "text-caramel-400"
                  : "text-caramel-200"
              }`}
            >
              {icon && <span>{icon}</span>}
              <span>{name}</span>
              {url === Astro.url.pathname && (
                <div class="animate-down absolute -bottom-0.5 left-1/2 aspect-square h-1 -translate-x-1/2 transform rounded-full bg-current" />
              )}
            </a>
          );
        }
      })
    }
  </nav>
</div>
