<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-4 sm:gap-6">
      <h1 class="sm:text-5xl lg:text-6xl text-4xl font-medium tracking-tight">
        About us
      </h1>
      <p class="text-caramel-400/70 mx-auto max-w-xl text-lg sm:text-xl">
        Crafting timeless elegance with epoxy creations.
      </p>
    </div>
  </div>
</section>
