---
import { Image } from 'astro:assets';
import addingLusterImage from '@/assets/adding-luster.jpg';
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <Image
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        src={addingLusterImage}
        alt="Adding luster to a table"
      />
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Our mission</h2>
          <div class="space-y-6">
            <p class="text-base text-caramel-200/70 sm:text-lg">
              Welcome to EpoxyEdgeZZ, where creativity and craftsmanship meet to transform ordinary
              spaces into extraordinary works of art. We are passionate artisans dedicated to the
              art of epoxy resin, and our mission is to bring your dreams to life through our
              stunning epoxy tables and furnishings.
            </p>
            <h3 class="text-xl font-medium tracking-tight">Our Materials</h3>
            <p class="text-base text-caramel-200/70 sm:text-lg">
              We understand that the quality of materials directly impacts the final product. That's
              why we source only the finest, sustainably harvested wood species and premium epoxy
              resins available. This commitment to quality ensures that our epoxy tables are not
              only breathtaking but also built to withstand the test of time.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
