---
import { siteInfo, pages } from '@data/site.json';
import { Icon } from 'astro-icon';
import { buttonVariants } from '@/components/ui/Button';
---

<section class="py-16 sm:py-20">
  <div class="relative mx-auto max-w-7xl p-24 px-8 md:px-12 lg:px-36">
    <div class="mx-auto text-center">
      <h1
        class="bg-gradient-to-br from-caramel-600 to-caramel-300 bg-clip-text text-dynamic-xl font-bold tracking-tighter text-caramel text-transparent"
      >
        EpoxyEdgeZZ
      </h1>
      <p class="text-dynamic-sm font-bold tracking-tight text-bark-400/70">
        Irish-based Epoxy Table Craftman
      </p>
    </div>

    <div class="mt-10 flex flex-col justify-center gap-4 sm:flex-row">
      <a
        class={buttonVariants({ variant: 'outline', size: 'lg' })}
        href={siteInfo.socials.instagram}
        rel="noopener noreferrer"
        target="_blank"
      >
        <Icon name="fa:instagram" class="h-4 w-4" />
        <span>Instagram</span>
      </a>
      <a class={buttonVariants({ size: 'lg' })} href={pages.GALLERY.href}>
        <span>See gallery</span>
      </a>
    </div>
  </div>
</section>
