---
import Icon from 'astro-icon';
import { phone, email, location } from '@/data/site.json';
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <dl class="grid gap-6 lg:grid-cols-3">
      <!-- Address -->
      <div class="rounded-3xl bg-caramel-400/10 px-6 py-8">
        <dt class="sr-only">Postal address</dt>
        <dd class="flex h-full flex-col justify-between gap-12">
          <Icon name="fa-solid:map-marker-alt" class="h-4 w-4" />
          <div class="text-base font-medium">
            <p>{location}</p>
          </div>
        </dd>
      </div>

      <!-- Phone number -->
      <div class="rounded-3xl bg-caramel-400/10 px-6 py-8">
        <dt class="sr-only">Phone number</dt>
        <dd class="flex h-full flex-col justify-between gap-12">
          <Icon name="fa-solid:phone-alt" class="h-4 w-4" />
          <p class="text-base font-medium">{phone}</p>
        </dd>
      </div>

      <!-- Email -->
      <div class="rounded-3xl bg-caramel-400/10 px-6 py-8">
        <dt class="sr-only">Email</dt>
        <dd class="flex h-full flex-col justify-between gap-12">
          <Icon name="fa-solid:envelope" class="h-4 w-4" />
          <p class="text-base font-medium">{email}</p>
        </dd>
      </div>
    </dl>
  </div>
</section>
