---
import Icon from 'astro-icon';
import { siteInfo } from '@/data/site.json';
import { Link } from '@/components/ui/Link';

const { location, phone, email } = siteInfo;
const contactCards = [
  {
    icon: 'fa-solid:map-marker-alt',
    title: 'Postal address',
    content: location,
    url: 'https://maps.app.goo.gl/KCnBWyjSjyzPuw139',
  },
  {
    icon: 'fa-solid:phone-alt',
    title: 'Phone number',
    content: phone,
    url: 'tel:' + phone,
  },
  {
    icon: 'fa-solid:envelope',
    title: 'Email',
    content: email,
    url: 'mailto:' + email,
  },
];
---

<section class="py-4 sm:py-8">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-4xl lg:px-8">
    <dl class="grid gap-6 lg:grid-cols-3">
      {
        contactCards.map((column, index) => (
          <div class="rounded-2xl p-4 ring-1 ring-caramel-300/10 backdrop-blur-sm">
            <dt class="sr-only">{column.title}</dt>
            <dd class="flex items-center justify-center gap-4 lg:items-start lg:justify-start">
              <Icon name={column.icon} class="h-5 w-5 text-caramel-300" />
              <Link href={column.url}>
                <span class="">{column.content}</span>
              </Link>
            </dd>
          </div>
        ))
      }
    </dl>
  </div>
</section>
