---
import { siteInfo, pages } from '@/data/site.json';
import { Link } from '@/components/ui/link';
---

<section class="py-16 sm:py-20">
  <div class="mx-auto flex max-w-2xl flex-col gap-4 px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <h3 class="text-lg font-bold">How to order from our ever-changing stock</h3>
    <ul class="list-decimal pl-8 text-caramel-100 marker:font-bold marker:text-caramel-400">
      <li>Reach out via phone or e-mail below.</li>
      <li>
        We'll send you pictures of our current raw shapes stock, or check our stock
        <Link href={pages.STOCK.href}>here</Link>.
      </li>
      <li>Choose the piece that suits you, and we'll take care of the rest.</li>
      <li>
        We'll present you with different options for table legs when it's close to completion.
      </li>
    </ul>
  </div>
</section>
