---
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/ui/Header.astro";
import Footer from "@/components/ui/Footer.astro";
---

<html lang="en">
  <head>
    <BaseHead />
  </head>

  <body
    class="bg-bark-950 text-bark-50 flex min-h-screen flex-col justify-between"
  >
    <Header />
    <div class="pt-16">
      <slot />
    </div>
    <Footer />
  </body>
</html>
