---
import { siteInfo } from '@/data/site.json';
import '@/styles/global.css';
import Header from '@/components/layouts/Header.astro';
import Footer from '@/components/layouts/Footer.astro';
import Background from '@/components/layouts/Background.astro';
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title: string;
  description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description ?? siteInfo.description} />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#EF802F" />
    <meta name="theme-color" content="#EF802F" />
    <title>{title} · {siteInfo.name}</title>
    <ViewTransitions />
    <script
      is:inline
      async
      src="https://vues.nhg.app/vues"
      data-website-id="38559a9b-14a4-4767-8775-08b8c6f4054e"></script>
  </head>
  <body>
    <div class="relative flex min-h-screen flex-col overflow-hidden bg-background text-bark-50">
      <Header class="z-20" />
      <main class="z-10 flex-1">
        <slot />
      </main>
      <Footer class="z-20" />
      <Background class="z-0" />
    </div>
  </body>
</html>
