---
import { siteInfo } from "@/data/site.json";
import "@/styles/global.css";
import Header from "@/components/layouts/Header.astro";
import Footer from "@/components/layouts/Footer.astro";
import { ViewTransitions } from "astro:transitions";
import Background from "@/components/layouts/Background.astro";

interface Props {
  title: string;
  description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description ?? siteInfo.description} />
    <title>{title} · {siteInfo.name}</title>
  </head>
  <body
    class="bg-background relative flex min-h-screen flex-col justify-between text-bark-50"
  >
    <Header />
    <main class="pt-16">
      <slot />
    </main>
    <Footer />
    <Background />
  </body>
</html>
