---
import pages from "@/data/pages.json";
---

<footer class="flex flex-col items-center gap-4 text-center">
  <nav class="flex items-center gap-8">
    {
      pages.map(({ inFooter, name, url, icon }) => {
        if (inFooter) {
          return (
            <a
              href={url}
              class="text-buttercup-200 hover:text-buttercup-500 flex gap-1 transition-colors duration-300"
            >
              {icon && <span>{icon}</span>}
              <span>{name}</span>
            </a>
          );
        }
      })
    }
  </nav>
  <div class="w-full border-t border-negroni-500/10 p-2">
    <span class="text-persimmon text-sm">Designed with love by Raz</span>
  </div>
</footer>
